html {
  font-family: 'Roboto', sans-serif;
}

/* Customize scrollbar */
::-webkit-scrollbar { 
  width: 6px; 
} 

::-webkit-scrollbar-track { 
  background: #888; 
  border-radius: 5px; 
} 

::-webkit-scrollbar-thumb { 
  background: #000; 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover { 
  background: #555; 
}